.signInButton {
  margin-top: 32px;
}
.logInText {
  padding-top: 56px;
}
.textUnderPassword {
  display: flex;
  gap: 130px;
  padding-bottom: 56px;
}
label {
  margin-left: 25px;
  color: white;
}
.forgotPassword {
  text-decoration: none;
  color: #ff640b;
}
.forgotPassword:hover {
  text-decoration: underline;
  color: white;
}
.linkstyles {
  text-decoration: none;
}
.topText h4 {
  text-align: center;
}