.blogbackground {
  /* background-image: url(/src/assets/Images/Rectangle\ 110.png); */
  /* background-image: url("../../../public/Images/Rectangle\ 110.png"); */
  background-image: url("https://res.cloudinary.com/dyntb0gv5/image/upload/v1723114981/Rectangle_110_v6gvbk.png");

  width: 100%;

  padding-top: 0;
  background-size: cover;
  background-repeat: no-repeat;
}
