.categories-container {
  text-align: center;
  padding: 20px;
  margin-top: 60px;
  margin-bottom: 80px;
  background-image: url("../assets/Images/squigly.png");
}
.categories-container h1 {
  font-family: Poppins, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
}

.categories-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  flex-wrap: wrap;
  margin-top: 80px;
  margin-bottom: 90px;
}

.categories-card {
  position: relative;
  width: 188px;
  height: 107px;
  border: 2px solid #d1aaaa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.categories-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.category-image {
  position: absolute;
  top: -43px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: auto;
}

.categories-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
  width: 100%;
}

.categories-card-title {
  margin-top: 50px;
  font-weight: bold;
}
