*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.footerContainer {
    width: 100%;
    max-width: 1519px;
    padding-top: 50px;
    padding-left: 261px;
    padding-right: 261px;
    padding-bottom: 57px;
    margin-left: auto;
    margin-right: auto;
}
.footerContent {
    width: 100%;
    display: flex;
}
.leftSide {
    width: 242px;
    height: 201px;
}
.leftSide img{
    padding-left: 85px;
    padding-right: 121.5px;
}
.leftSide h2, h3, p{
    color: #FF640B;
    text-align: center;
}
.leftSide h2{
    font-size: 24px;
    font-weight: 400;
}
.leftSide h3, p{
    font-weight: 300;
    font-size: 12px;
}
.leftSide p {
    margin-top: 8px;
}
.rightSide {
    display: flex;
    gap: 88px;  
    padding-left: 110px;
}
.footerHeaderText {
    text-align: center;
    width: 130px;
    font-size: 24px;
}
.rightSide li{
    list-style: none;
    text-align: center;
    margin-top: 16px;
}
.rightSide a{
    text-decoration: none;
    color: #FF640B;
}

@media screen and (max-width: 1360px) {
    .footerContainer {
        padding-left: 20px;
    }
}

@media screen and (max-width: 940px) {
    .rightSide {
        padding-left: 0;
    }
}

@media screen and (max-width: 830px) {
    .leftSide {
        margin-left: auto;
        margin-right: auto;
    }
    .footerContent {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 590px) {
    .rightSide {
        margin-top: 30px;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
}

