.home-container {
  /* background-image: url("../assets/Images/bgimage.png"); */
  background-image: url("../../public/assets/Images/bgimage.png");
  width: 100%;
  /* height: 750px; */
  /* height: 400%; */
  padding-top: 0;
  background-size: cover;
  background-repeat: no-repeat;
}
